<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  {% load static %}
  <script src="{% static 'js/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="{% static 'js/plugins/pace.min.js'%}"></script>

  <meta name="description" content="Event Dashboard" />
  <!-- Twitter meta-->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@sajib1066" />
  <meta property="twitter:creator" content="@sajib1066" />
  <!-- Open Graph Meta-->

  <meta property="og:description" content="Event Dashboard" />
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body class="app sidebar-mini">
  <!-- Navbar-->
  {% block nav %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TimeTrace</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Главная</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'edit_user' request.user.id %}">Изменить профиль</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Функции
                  </a>
                  {% if request.user.is_superuser %}
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'add_employee' %}" role="button">Добавить сотрудника</a>
                      <a class="dropdown-item" href="{% url 'raiting' %}" role="button">Рейтинг</a>
                      <a class="dropdown-item" href="{% url 'add_project' %}" role="button">Добавить Проект</a>
                      <a class="dropdown-item" href="{% url 'add_task' %}" role="button">Добавить Задачу</a>
                  </div>
                  {% elif request.user.is_staff %}
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'raiting' %}" role="button">Рейтинг</a>
                      <a class="dropdown-item" href="{% url 'add_employee' %}" role="button">Добавить сотрудника</a>
                      <a class="dropdown-item" href="{% url 'add_task' %}" role="button">Добавить Задачу</a>
                  </div>
                  
                  {% else %}
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'raiting' %}" role="button">Рейтинг</a>
                      </div>
                  {% endif %}
              </li>

    
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
              </li>
          </ul>
      </div>
  </nav>
  {% endblock nav %}
  {% block extracss %}
  {% endblock extracss %}
  <div class="app-title">
    {% block breadcrumb %}
    {% endblock breadcrumb %}
  </div>
  {% block content %}
  {% endblock content %}

  <!-- Essential javascripts for application to work-->

  {% block extrascripts %}
  {% endblock extrascripts %}
</body>

</html>