{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Изменить проект{% endblock title %}</title>
</head>

<body>

    {% block content %}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">Какому проекту принадлежит задача</label>
            {{ form.task_key }}
            <br>
    
            <label for="">Какому сотруднику принадлежит задача</label>
            {{ form.employee_key }}
            <br>
            <label for="">Название задачи</label>
            {{ form.task_name }}
            <br>

            <label for="">Описание задачи</label>
            {{ form.task_description }}
            <br>



            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <label for="">Дата начала</label>
                {{ form.start_date_task }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>

            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                <label for="">Дата завершения</label>
                {{ form.end_date_task }}
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <button type="submit">Сохранить</button>
        </form>
    {% endblock content %}

</body>

</html>