{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}


    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}

            <label for="">Сотрудники</label>
  
            <div style="width:350px;height:250px;line-height:1em;overflow:scroll;padding:1px;">
                {{ form.project_user_key }}
            </div>

            <label for="">Менеджер проекта</label>
            {{ form.manager_key }}
            <br>

            <label for="">Название проекта</label>
            {{ form.project_name }}
            <br>
            <label for="">Описание проекта</label>
            {{ form.project_description }}
            <br>



            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                {{ form.start_date }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>

            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                {{ form.end_date }}
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>


            <button type="submit">Добавить</button>
        </form>
    </div>

    {% endblock content %}

</body>

</html>