{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Изменить проект{% endblock title %}</title>
</head>

<body>

    {% block content %}
    <div class="container">
        <img src="{{profile_page.photo.url}}" height="100" width="100">
        <li>Отдел - {{profile_page.department_key}}</li>
        <li>Должность - {{profile_page.position_key}}</li>
        <li>Фамилия - {{profile_page.employee_surname}}</li>
        <li>Имя - {{profile_page.employee_name}}</li>
        <li>Отчество - {{profile_page.employee_patronymic}}</li>
        <li>Email - {{profile_page.user_key.email}}</li>
        <li>Количество выходных - {{profile_page.weekend_count}}</li>


        <br>
        {% if request.user.is_superuser or request.user.id == profile_page.user_key.id %}
            <a href="{% url 'edit_user' profile_page.id %}">редактировать</a>
        {% endif %}
        {% endblock content %}

</body>

</html>