{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Профиль{% endblock title %}</title>

</head>

<body>



    {% block content %}

    <div class="container">
        <br>

        <br>
        <!-- <h3>Информация:</h3>
        <li>Отдел - {{profile_info.department_key}}</li>
        <li>Должность - {{profile_info.position_key}}</li>
        <li>Фамилия - {{profile_info.employee_surname}}</li>
        <li>Имя - {{profile_info.employee_name}}</li>
        <li>Отчество - {{profile_info.employee_patronymic}}</li>
        <li>Количество выходных - {{profile_info.weekend_count}}</li> -->


        <h3>Мои проекты:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Менеджер проекта</th>
                    <th scope="col">Содержимое</th>
                    <th scope="col">Предполагаемое начало выполнения</th>
                    <th scope="col">Предполагаемый конец выполнения</th>
                    {% if request.user.is_superuser or request.user.is_staff %}
                    <th scope="col">Действия</th>
                    {% endif %}
                    <th scope="col">Участники</th>
                </tr>
            </thead>
            <tbody>
                {% for pr in projects %}
                <tr>
                    <th scope="row">{{pr.id}}</th>
                    <td><a href="{% url 'get_tasks_for_employee' pr.id %}">{{pr.project_name}}</a></td>
                    <td>{{pr.manager_key}}</td>
                    <td>{{pr.project_description}}</td>
                    <td>{{pr.start_date}}</td>
                    <td>{{pr.end_date}}</td>
                    {% if request.user.is_superuser %}
                    <td>
                        <a href="{% url 'edit_project' pr.id %}">Изменить</a> |
                        <a href="{% url 'delete_project' pr.id %}">Удалить</a>

                    </td>
                    {% endif %}
                    {% if request.user.is_staff and not request.user.is_superuser %}
                    <td>
                        <a href="{% url 'edit_project' pr.id %}">Изменить</a>
                    </td>
                    {% endif %}

                    <td><a href="{% url 'get_time_all' pr.id %}">Участники</a></td>

                </tr>

                {% endfor %}
            </tbody>
        </table>

       
        {% if request.user.is_superuser or request.user.is_staff %}
        <h3>Отделы:</h3>
        <div class="container">
            {% for d in all_departments %}
                <a href="{% url 'show_employee_for_dep' d.id %}">{{d.department_name}}</a>
            {% endfor %}
        </div>
        {% else %}
        <h3>Сотрудники:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">К какому User относится</th>
                    <th scope="col">К какому отделу относится</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Отдел</th>
                    <th scope="col">Выходные</th>
                </tr>
            </thead>
            <tbody>
                {% for em in employee %}
                <tr>
                    <th scope="row">{{em.user_key.id}}</th>
                    <td>
                        <a href="{% url 'profile_page' em.user_key.id %}">{{em.user_key}}</a>
                    </td>
                    <td>{{em.department_key}}</td>
                    <td>{{em.employee_surname}}</td>
                    <td>{{em.employee_name}}</td>
                    <td>{{em.employee_patronymic}}</td>
                    <td>{{em.department_key}}</td>
                    <td>{{em.weekend_count}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>


    {% endblock content %}
</body>

</html>