{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Профиль{% endblock title %}</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <h3>Мои проекты:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Менеджер проекта</th>
                    <th scope="col" class="text-center">Содержимое</th>
                    <th scope="col">Предполагаемое начало выполнения</th>
                    <th scope="col">Предполагаемый конец выполнения</th>
                    {% if request.user.is_superuser or request.user.is_staff %}
                    <th scope="col">Действия</th>
                    {% endif %}
                    <th scope="col">Участники</th>
                </tr>
            </thead>
            <tbody>
                {% for pr in projects %}
                <tr>
                    <td><a href="{% url 'get_tasks_for_employee' pr.id %}">{{pr.project_name}}</a></td>
                    <td>{{pr.manager_key}}</td>
                    <td style="width: 400px;word-wrap: break-word;word-break: break-all;" class="text-center">{{pr.project_description}}</td>
                    <td>{{pr.start_date}}</td>
                    <td>{{pr.end_date}}</td>
                    {% if request.user.is_superuser %}
                    <td>
                        <div class="btn-toolbar">
                            <a href="{% url 'edit_project' pr.id %}" class="btn-sm btn-primary" role="button"
                                style="text-align: left;margin-bottom:5px">Изменить</a>
                            <a href="{% url 'delete_project' pr.id %}" class="btn-sm btn-primary" role="button"
                                style="text-align: left; padding-right:20px;">Удалить</a>
                        </div>
                    </td>
                    {% endif %}
                    {% if request.user.is_staff and not request.user.is_superuser %}
                    <td>
                        <a href="{% url 'edit_project' pr.id %}" class="btn-sm btn-primary w-75 " role="button" style= "text-align: left" >Изменить</a>
                    </td>
                    {% endif %}

                    <td><a href="{% url 'get_time_all' pr.id %}" class="btn-sm btn-primary w-75 " role="button" style= "text-align: left">Участники</a></td>

                </tr>

                {% endfor %}
            </tbody>
        </table>


        {% if request.user.is_superuser or request.user.is_staff %}
        <div class="container">
            <h3>Отделы:</h3>

            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                    Показать отделы
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    {% for d in all_departments %}
                    <a href="{% url 'show_employee_for_dep' d.id %}">{{d.department_name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <h3>Сотрудники:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">К какому User относится</th>
                    <th scope="col">К какому отделу относится</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Отдел</th>
                    <th scope="col">Выходные</th>
                </tr>
            </thead>
            <tbody>
                {% for em in employee %}
                <tr>
                    <td>
                        <a href="{% url 'profile_page' em.user_key.id %}">{{em.user_key}}</a>
                    </td>
                    <td>{{em.department_key}}</td>
                    <td>{{em.employee_surname}}</td>
                    <td>{{em.employee_name}}</td>
                    <td>{{em.employee_patronymic}}</td>
                    <td>{{em.department_key}}</td>
                    <td>{{em.weekend_count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    {% endblock content %}
</body>

</html>