{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Изменить проект{% endblock title %}</title>
</head>

<body>

    {% block content %}
    <div class="container">
        <br>
        <p class="font-weight-lighter" style="font-size: 1.2rem;">Общее количество часов:
            <u>{{raiting_all.total_count}}</u>
        </p>

        <p class="font-weight-lighter" style="margin-top:-10px; margin-bottom:-20px ; font-size: 1.2rem;">Сотрудники
            отдела {{department}}</p>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Имя сотрудника</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col" class="text-center">Проработанное количество часов(всего)</th>
                    <td scope="col">Действия</td>
                </tr>
            </thead>
            <tbody>
                {% for k, v in time_for_employees.items %}
                <tr>
                    <td>{{k.employee_surname}}</td>
                    <td>{{k.employee_name}}</td>
                    <td>{{k.employee_patronymic}}</td>
                    <td class="text-center">{{v}}</td>
                    <td><a href="{% url 'add_weekend' k.id %}" class="btn btn-primary">Добавить выходной</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

        {% endblock content %}

</body>

</html>