{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Участники{% endblock title %}</title>
</head>

<body>

    {% block content %}
    <div class="container">
    <h3>Участники проекта</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Имя сотрудника</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Отчество</th>
                {% if request.user.is_superuser %}
                    <th scope="col">Выходные</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for t in employees %}
            <tr>
              
                <td>{{t.employee_surname}}</td>
                <td>{{t.employee_name}}</td>
                <td>{{t.employee_patronymic}}</td>
                {% if request.user.is_superuser %}
                    <td><a href="{% url 'add_weekend' t.id %}">Добавить выходной</a></td>
                {% endif %}
               
                
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

    {% endblock content %}
</body> 

</html>