{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Задачи{% endblock title %}</title>
</head>

<body>

    {% block content %}
    <div class="container">
        <h3>Название проекта - {{project_name}}</h3>
        <h4>Задачи сотрудника:</h4>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название задачи</th>
                    <th scope="col">Содержмое задачи</th>
                    <th scope="col">Старт задачи</th>
                    <th scope="col">Конец задачи</th>
                    {% if request.user.is_superuser or request.user.is_staff %}
                    <th scope="col">Статус</th>
                    {% endif %}
                    <th scope="col">Действия</th>
                    <th scope="col">Учет</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td class="text-center">{{task.task_name}}</td>
                    <td class="text-center">{{task.task_description}}</td>
                    <td>{{task.start_date_task}}</td>
                    <td>{{task.end_date_task}}</td>
                    <td>
                        <div class="btn-toolbar"><a href="{% url 'change_time_work' task.id %}"
                                class="btn-sm btn-primary" role="button"
                                style="text-align: left; padding-right:20px;">Изменить</a>
                        </div>
                    </td>
                    {% if request.user.is_superuser or request.user.is_staff %}
                    <td>
                        <div class="btn-toolbar">
                            <a href="{% url 'edit_task' task.id %}" class="btn-sm btn-primary" role="button"
                                style="text-align: left;margin-bottom:5px">Изменить</a>
                            <a href="{% url 'delete_task' task.id %}" class="btn-sm btn-primary" role="button"
                                style="text-align: left; padding-right:20px;">Удалить</a>
                        </div>
                    </td>
                    {% endif %}

                    <td>{{task.status_task}}</td>
                    <td><a class="btn btn-primary" href="{% url 'time_tracking' task.id %}" role="button">Учет
                            времени</a></td>

                    {% endfor %}

            </tbody>
        </table>
    </div>


    {% endblock content %}

</body>

</html>