{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Профиль{% endblock title %}</title>
</head>

<body>

    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TimeTrace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit_user' request.user.id %}">Изменить профиль</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Функции
                    </a>
                    {% if request.user.is_superuser %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'add_employee' %}" role="button">Добавить сотрудника</a>
                        <a class="dropdown-item" href="{% url 'raiting' %}" role="button">Рейтинг</a>
                        <a class="dropdown-item" href="{% url 'add_project' %}" role="button">Добавить Проект</a>
                        <a class="dropdown-item" href="{% url 'add_task' %}" role="button">Добавить Задачу</a>
                    </div>
                    {% elif request.user.is_staff %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'raiting' %}" role="button">Рейтинг</a>
                        <a class="dropdown-item" href="{% url 'add_project' %}" role="button">Добавить Проект</a>
                        <a class="dropdown-item" href="{% url 'add_task' %}" role="button">Добавить Задачу</a>
                    </div>
                    
                    {% else %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'raiting' %}" role="button">Рейтинг</a>
                        </div>
                    {% endif %}
                </li>

      
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock nav %}

    {% block content %}
    <div class="container">
        привет! {{user.username}}
        Вы - {{position}}
        <br>

        <a class="btn btn-primary" href="{% url 'time_tracking' %}" role="button">Учет времени</a>

        <br>
        <h3>Информация:</h3>
        <li>Отдел - {{employee.department_key}}</li>
        <li>Должность - {{employee.position_key}}</li>
        <li>Фамилия - {{employee.employee_surname}}</li>
        <li>Имя - {{employee.employee_name}}</li>
        <li>Отчество - {{employee.employee_patronymic}}</li>
        <li>Количество выходных - {{employee.weekend_count}}</li>
        <h3>Мои проекты:</h3>



        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Содержимое</th>
                    <th scope="col">Предполагаемое начало выполнения</th>
                    <th scope="col">Предполагаемый конец выполнения</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for pr in projects %}
                <tr>
                    <th scope="row">{{pr.id}}</th>
                    <td><a href="{% url 'get_tasks_for_employee' pr.id %}">{{pr.project_name}}</a></td>
                    <td>{{pr.project_description}}</td>
                    <td>{{pr.start_date}}</td>
                    <td>{{pr.end_date}}</td>
                    {% if request.user.is_superuser or request.user.is_staff %}
    
                        <td>
                            <a href="{% url 'edit_project' pr.id %}">Изменить</a> |
                            <a href="{% url 'delete_project' pr.id %}">Удалить</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if position_manager == 'Менеджер' %}
        Вы
    {% endif %}
    {% endblock content %}
</body>

</html>