{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Рейтинг{% endblock title %}</title>
</head>

<body>

    {% block content %}
    <div class="container">
    

    {% if request.user.is_superuser %}
        
       
    {% for k, v in time_for_employees.items %}
        Общее количество часов - {{raiting_all.total_count}}
        Сотрудники отдела {{k}}:
       
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Имя сотрудника</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                </tr>
            </thead>
            <tbody>
                {% for val in v  %}
                    <tr>
                        <th scope="row">{{val.id}}</th>
                        <td>{{val.employee_surname}}</td>
                        <td>{{val.employee_name}}</td>
                        <td>{{val.employee_patronymic}}</td>
                    </tr>
                {% endfor  %}
            </tbody>
        </table>
        {% endfor %}

    {% else %}
    Отдел - {{raiting_all.raiting_key}},
    Общее количество часов - {{raiting_all.total_count}}
    <br>
    Сотрудники моего отдела:
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя сотрудника</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Отчество</th>
                <th scope="col">Проработанное количество часов(всего)</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in time_for_employees.items %}
            <tr>
                <th scope="row">{{k.id}}</th>
                <td>{{k.employee_surname}}</td>
                <td>{{k.employee_name}}</td>
                <td>{{k.employee_patronymic}}</td>
                <td>{{v}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    
    {% endblock content %}
    </div>
</body>

</html>