{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Рейтинг{% endblock title %}</title>
</head>

<body>

    {% block content %}
    <div class="container">
        Отдел - {{raiting_all.raiting_key}},
        Общее количество часов - {{raiting_all.total_count}}
        <br>

    Сотрудники моего отдела:
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя сотрудника</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Отчество</th>
            </tr>
        </thead>
        <tbody>
            {% for t in all_employees %}
            <tr>
                <th scope="row">{{t.id}}</th>
                <td>{{t.employee_surname}}</td>
                <td>{{t.employee_name}}</td>
                <td>{{t.employee_patronymic}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% endblock content %}
    </div>
</body>

</html>