{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Задачи{% endblock title %}</title>
</head>

<body>

    {% block content %}
    <div class="container">
        Задачи сотрудника:

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Какому проекту принадлежит задача</th>
                    <th scope="col">Название задачи</th>
                    <th scope="col">Содержмое задачи</th>
                    <th scope="col">Предполагаемое начало выполнения</th>
                    <th scope="col">Предполагаемый конец выполнения</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <th scope="row">{{task.id}}</th>

                    <td>{{task.task_key}}</td>
                    <td>{{task.task_name}}</td>
                    <td>{{task.task_description}}</td>
                    <td>{{task.start_date_task}}</td>
                    <td>{{task.end_date_task}}</td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


    {% endblock content %}

</body>

</html>